{% extends "core/base.html" %}
{% load static %}

{% block title %}
    {{ room.name.capitalize }} |
{% endblock %}

{% block content %}
    <div class="p-10 lg:p20 text-center">
        <h1 class="text-3xl lg:text-5xl text-white">{{ room.name.capitalize }}</h1>
    </div>

    <div class="lg:w-2/4 mx-6 lg:mx-auto p-4 bg-white rounded-xl">
        <div class="chat-messages space-y-3" id="chat-messages">
            {% for message in messages %}
                {% if message.user.username == request.user.username %}
                    <div class="flex justify-end">
                        <div class="bg-blue-500 rounded-xl inline-block items-center gap-4 p-4 ">
                            <p class="flex justify-end  text-white font-semibold text-sm text-xs">{{ message.user.profile.name }}</p>
                            <p class="text-slate-100 mt-1 text-sm">{{ message.content }}</p>
                            <p class="text-gray-200 text-sm text-xs mt-2 float-right">{{ message.date_added|time:"h:i A" }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="flex justify">
                        <a href="{% url 'user_profile' message.user.username %}" class="">
                            <img class="w-8 h-8 rounded-full flex mx-2 mt-auto shrink-0 object-cover object-top"
                                 src="{{ message.user.profile.profile_pic.url }}" alt="Not Found"></a>
                        <div class=" bg-gray-200 rounded-xl flex items-center gap-4 p-4 inline-block">
                            <div class="">
                                {% if message.user.profile.name %}
                                    <p class="font-semibold text-sm  text-slate-900 ">
                                        {{ message.user.profile.name.capitalize }}
                                    </p>
                                {% else %}
                                    <p class="font-semibold text-sm  text-slate-900 ">
                                        {{ message.user.username.capitalize }}
                                    </p>
                                {% endif %}

                                <p class="text-slate-800 text-sm mt-1">{{ message.content }}</p>
                                <p class="text-slate-400 text-sm mt-2 text-xs float-right">{{ message.date_added|time:"h:i A" }}</p>
                            </div>
                        </div>
                    </div>



                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="lg:w-2/4 mt-6 mb-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
        <form action="." method="post" class="flex">
            <input type="text" name="content" class="flex-1 mr-3"  placeholder="Your message..." id="chat-message-input" required>
            <button class="px-5 py-3 rounded-xl text-white bg-slate-800 hover:bg-slate-800"  id="chat-message-submit" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                </svg>
            </button>
        </form>
    </div>
{% endblock %}


{% block scripts %}
    {{ room.slug|json_script:"json-roomname" }}
    {{ request.user.username|json_script:"json-username" }}
    {{ request.user.profile.name|json_script:'json-name' }}
    {{ request.user.profile.profile_pic.url|json_script:'json-pic' }}

    <script>
        function CheckSpace(){
            var space = document.getElementById("chat-message-input")
            if(space.selectionStart === 0 && window.event.code === "Space"){
                window.event.preventDefault()
            }
        }
        const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);
        const Name = JSON.parse(document.getElementById('json-name').textContent);
        const ProfilePic = JSON.parse(document.getElementById('json-pic').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );
        chatSocket.onmessage = function (e) {
            console.log('onmessage')
            const data = JSON.parse(e.data);


            if (data.message) {
                if (data.username == '{{ request.user.username }}') {
                    var msg = `<div class="flex justify-end"><div class="bg-blue-500 rounded-xl inline-block items-center gap-4 p-4 ">
                    <p class=" flex justify-end text-white font-semibold text-xs "> ${data.name} </p>
                    <p class="text-slate-100 mt-1 text-sm"> ${data.message} </p>
                    <p class="text-slate-200 mt-2 text-sm text-xs float-right "> ${data.date} </p>
                    </div></div></div>`

                } else {
                    var msg = `<div class="flex justify">
                        <a href="/user_profile/${data.username}" class="">
                            <img class="w-8 h-8 rounded-full flex mx-2 mt-auto shrink-0 object-cover object-top" src="${data.pic}" alt="Not Found"></a>
                        <div class=" bg-gray-200 rounded-xl flex items-center gap-4 p-4 inline-block">
                            <div class="">
                                    <p class="font-semibold text-sm  text-slate-900 ">
                                        ${data.name}
                                    </p>
                                <p class="text-slate-800 text-sm mt-1">${data.message}</p>
                                <p class="text-slate-400 text-sm mt-2 text-xs float-right"> ${data.date} </p>
                            </div>
                        </div>
                    </div>`

                }
            } else {
                var msg = ''
            }

            document.querySelector('#chat-messages').innerHTML += msg;
            scrollToBottom();

            {% comment %}if (data.date) {
                showDatesWeekDays(data.date)
            } else {
                showDatesWeekDays(new Date())
            }
{% endcomment %}


        }


        chatSocket.onclose = function (e) {
            console.log('onclose')
        }
        //

        document.querySelector('#chat-message-submit').onclick = function (e) {
            e.preventDefault();
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            scrollToRight()
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName,
                'name': Name,
                'pic': ProfilePic,
            }));
            messageInputDom.value = '';

            return false;
        }

        //
        function scrollToBottom() {
            const objDiv = document.querySelector('#chat-messages');
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        function scrollToRight() {
            const objDiv = document.querySelector('#chat-message-input');
            objDiv.scrollLeft = objDiv.scrollWidth;
        }



        function showDatesWeekDays(date_created) {
            // add the newly created element and its content into the DOM

            dt = new Date(date_created)

            if (!tempDaysWeekdays.includes(dt.toLocaleDateString())) {
                let newDiv = document.createElement("div");
                let currentDiv = document.getElementById("new-message-chat");
                let parentDiv = currentDiv.parentNode;
                let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

                if (dt.toDateString() == new Date().toDateString()) {
                    // display TODAY in message
                    date_weekday = 'TODAY';
                } else if (dt > getDateBefore()) {
                    // display week day in message
                    date_weekday = days[dt.getDay()].toUpperCase()
                } else {
                    // display date in message
                    date_weekday = dt.toLocaleDateString();
                }

                newDiv.style.display = "grid";
                newDiv.innerHTML = `<div class="date_weekday">${date_weekday}</div>`
                parentDiv.insertBefore(newDiv, currentDiv);

                tempDaysWeekdays.push(dt.toLocaleDateString())
            }

        }

        scrollToBottom();

    </script>
{% endblock %}