{% extends "core/base.html" %}
{% load static %}

{% block title %}
    {{ room.name.capitalize }} |
{% endblock %}

{% block content %}
    <div class="p-10 lg:p20 text-center">
        <h1 class="text-3xl lg:text-5xl text-white">{{ room.name.capitalize }}</h1>
    </div>

    <div class="lg:w-2/4 mx-6 lg:mx-auto p-4 bg-white rounded-xl">
        <div class="chat-messages space-y-3" id="chat-messages">
            {% for message in messages %}
                {% if message.user.username == request.user.username %}
                    <div class="flex justify-end">
                        <div class="bg-blue-200 rounded-xl inline-block items-center gap-4 p-4 ">
                            <p class="text-slate-900 text-sm  dark:text-slate-800">{{ message.content }}</p>
                            </div>
                        </div>
                {% else %}
                    <div class="flex justify">
                    <div class=" bg-gray-200 rounded-xl flex items-center gap-4 p-4 inline-block">
                    <img class="row-span-3 w-12 h-12 rounded-full mx-auto mx-0 shrink-0 object-cover object-top"
                         src="{{ message.user.profile.profile_pic.url }}" alt="Not Found">
                    <div class="">
                        <p class="font-semibold text-sm  text-slate-900 ">
                            {{ message.user.profile.name.capitalize }}
                        </p>

                        {% comment %} {% if message.user.is_online %}
                         <p class="font-semibold">{{ message.user.username.capitalize }}
                            <span class="inline-flex rounded-full h-4 w-4 bg-sky-500"></span>
                         </p>
                    {% else %}
                        <p class="font-semibold">{{ message.user.username.capitalize }}</p>
                    {% endif %}{% endcomment %}

                        <p class="text-slate-900 text-sm  dark:text-slate-800">{{ message.content }}</p>
                    </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="lg:w-2/4 mt-6 mb-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
        <form action="." method="post" class="flex">
            <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message..." id="chat-message-input" required>
            <button class="px-5 py-3 rounded-xl text-white bg-slate-800 hover:bg-slate-800" id="chat-message-submit">
                Send
            </button>
        </form>
    </div>
{% endblock %}


{% block scripts %}
    {{ room.slug|json_script:"json-roomname" }}
    {{ request.user.username|json_script:"json-username" }}
    {{ request.user.profile.name|json_script:'json-name' }}
    {{ request.user.profile.profile_pic.url|json_script:'json-pic' }}
    <script>
        const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);
        const Name = JSON.parse(document.getElementById('json-name').textContent);
        const Pic = JSON.parse(document.getElementById('json-pic').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );
        chatSocket.onmessage = function (e) {
            console.log('onmessage')

            const data = JSON.parse(e.data);
            if (data.username === userName){

                if (data.message.length > 0) {
                    let html = '<div class="flex justify-end"><div class="bg-blue-200 rounded-xl inline-block items-center gap-4 p-4 ">';
                    html += '<p class="text-slate-900 text-sm  dark:text-slate-800">' + data.message + '</p></div></div></div>';
                    document.querySelector('#chat-messages').innerHTML += html;

                    scrollToBottom();
                } else {
                    alert('The message is empty!')
                }
            }

          {% comment %}  if (data.message)  {
                let html = '<div class="bg-gray-200 rounded-xl flex items-center gap-4 p-4">';
                html += '<img class="w-12 h-12 rounded-full mx-auto mx-0 shrink-0 object-cover object-top " src=" {{ data.pic }} " alt="Not Found">';
                html += '<div><p class="font-semibold text-sm  text-slate-900">' + data.name + '</p>'
                html += '<p class="text-slate-900 text-sm  dark:text-slate-800">' + data.message + '</p></div></div>'
                document.querySelector('#chat-messages').innerHTML += html;

                scrollToBottom();
            } else {
                alert('The message is empty!')
            }{% endcomment %}
        }
        chatSocket.onclose = function (e) {
            console.log('onclose')
        }
        //

        document.querySelector('#chat-message-submit').onclick = function (e) {
            e.preventDefault();
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            scrollToRight()
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName,
                'name': Name,
                'pic': Pic
            }));
            messageInputDom.value = '';

            return false;
        }

        //
        function scrollToBottom() {
            const objDiv = document.querySelector('#chat-messages');
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        function scrollToRight() {
            const objDiv = document.querySelector('#chat-message-input');
            objDiv.scrollLeft = objDiv.scrollWidth;
        }

        scrollToBottom();

    </script>
{% endblock %}