{% extends "core/base.html" %}

{% block title %}
    Profile |
{% endblock %}

{% block content %}
<main class="flex items-center justify-center mt-10 lg:h-screen  ">
        <div class="  w-96 p-6 rounded apply-glass">
            <h1 class="flex items-center justify-center mb-4 h-20 text-3xl font-bold text-gray-100">{{ request.user.username.upper }}</h1>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}

    <figure class="rounded-xl p-8 bg-slate-800">

    <label id="preview" for="profile_pic"><img class="w-36 h-36 rounded-full mx-auto shrink-0 object-cover object-top bg-no-repeat bg-center mx-auto" src="{{ request.user.profile.profile_pic.url }}" alt=""></label>
    <input type="file" id="profile_pic" name="profile_pic" accept="image/*" hidden="true">
   {% comment %}
     <input type="file" class="block w-full text-sm text-slate-500
      file:mr-4 file:py-2 file:px-4
      file:rounded-full file:border-0
      file:text-sm file:font-semibold
      file:bg-violet-50 file:text-violet-700
      hover:file:bg-violet-100
    "/>
{% endcomment %}

        <div>
        <label for="Name" class="text-gray-100">Name</label>
            <div class="w-full rounded py-2 bg-gray-50 text-gray-500 px-1 outline-none mb-4">
                {{ form.name }}
            </div>
        </div>
          <div>
        <label for="bio" class="text-gray-100">Bio</label>
            <div class="w-full rounded py-2 bg-gray-50 text-gray-500 px-1 outline-none mb-4">
                {{ form.bio }}
            </div>
        </div>
        <button type="submit" name="Update Information" class="bg-slate-700 w-full text-gray-200 mt-4 mb-4 py-2 rounded hover:bg-blue-800 transition-colors">Update</button>

    </figure>
    </form>
</div>

</main>

{% comment %}

<main class="flex items-center justify-center mt-20 lg:h-screen  ">
        <div class="  w-96 p-6 rounded apply-glass">
            <h1 class="flex items-center justify-center mb-4 h-20 text-3xl font-bold text-gray-100">Log in</h1>
        <form action="." method="post" class="">
        {% csrf_token %}

        <div class="">
            <label for="username" class="text-gray-100">Username</label>
            <input type="text" name="username" class="w-full rounded py-2 bg-gray-50 text-gray-500 px-1 outline-none mb-4">
        </div>
         <div class="">
                <label for="password" class="text-gray-100">Password</label>
                <input type="password" name="password" class="w-full rounded py-2 bg-gray-50 text-gray-500 px-1 outline-none mb-4">
            </div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="mb-5 p-4 rounded-xl bg-red-800 text-white">
                        <p>{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <button class="bg-slate-700 w-full text-gray-200 mt-4 mb-4 py-2 rounded hover:bg-slate-800 transition-colors">Log in</button>
    </div>
    </form>
        </div>
    </main>

{% endcomment %}



{% endblock %}


{% block scripts %}
<script>
        const imageInput = document.getElementById('profile_pic');
        const preview = document.getElementById('preview');

        imageInput.addEventListener('change', (event) => {
          const file = event.target.files[0];
          if (file) {
            const reader = new FileReader();

            reader.onload = (e) => {
              const img = document.createElement('img');
              img.src = e.target.result;
              preview.innerHTML = '';
              img.className = "w-36 h-36 rounded-full mx-auto shrink-0 object-cover object-top bg-no-repeat bg-center mx-auto";
              preview.append(img);
            };

            reader.readAsDataURL(file);
          }
        });

</script>
{% endblock %}
